<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <!--  +++++ you can just ignore this file+++++ -->
  <body>
    <article className="experience_details">
      <BsFillPatchCheckFill className="experience_details-icon" />

      <div>
        <h4>Node JS</h4>
        <small className="text-light">Experienced </small>
      </div>

      {/* 2/ */}
    </article>
    <article className="experience_details">
      <BsFillPatchCheckFill className="experience_details-icon" />

      <div>
        <h4>MongoDB</h4>
        <small className="text-light">Intermediate</small>
      </div>

      {/* 3 */}
    </article>

    <article className="experience_details">
      <BsFillPatchCheckFill className="experience_details-icon" />

      <div>
        <h4>PHP</h4>
        <small className="text-light">Intermidiate </small>
      </div>

      {/* 4 */}
    </article>

    <article className="experience_details">
      <BsFillPatchCheckFill className="experience_details-icon" />
      <div>
        <h4>PHP</h4>
        <small className="text-light">Intermidiate </small>
      </div>

      {/* 5*/}
    </article>
    <article className="experience_details">
      <BsFillPatchCheckFill className="experience_details-icon" />

      <div>
        <h4>MySQL</h4>
        <small className="text-light">Intermidiate </small>
      </div>

      {/* 5*/}
    </article>
    <article className="experience_details">
      <BsFillPatchCheckFill className="experience_details-icon" />

      <div>
        <h4>Python</h4>
        <small className="text-light">Experienced</small>
      </div>

      {/* 5*/}
    </article>

    <!-- starting BsFillPatchCheckFill -->

    <div className="experience_backend">
      <h3>Backend Development</h3>
      <div className="experience_content">{/* 1 */} {/* end of backend */}</div>
    </div>

    <!--portfolio  -->

    <article className="portfolio_item">
      <div className="portfolio_item-image">
        <img src="{IMG2}" alt="" />
      </div>
      <h3>This is a portfolio item title</h3>

      <div className="portfolio_item-cta">
        <a href="https://github.com" className="btn">Github</a>
        <a
          href="https://dribbble.com/tags/website"
          target="_blank"
          className="btn btn-primary"
        >
          Live Demo</a
        >
      </div>
    </article>
    <article className="portfolio_item">
      <div className="portfolio_item-image">
        <img src="{IMG3}" alt="" />
      </div>
      <h3>This is a portfolio item title</h3>

      <div className="portfolio_item-cta">
        <a href="https://github.com" className="btn">Github</a>
        <a
          href="https://dribbble.com/tags/website"
          target="_blank"
          className="btn btn-primary"
        >
          Live Demo</a
        >
      </div>
    </article>
    <article className="portfolio_item">
      <div className="portfolio_item-image">
        <img src="{IMG4}" alt="" />
      </div>
      <h3>This is a portfolio item title</h3>

      <div className="portfolio_item-cta">
        <a href="https://github.com" className="btn">Github</a>
        <a
          href="https://dribbble.com/tags/website"
          target="_blank"
          className="btn btn-primary"
        >
          Live Demo</a
        >
      </div>
    </article>
    <article className="portfolio_item">
      <div className="portfolio_item-image">
        <img src="{IMG5}" alt="" />
      </div>
      <h3>This is a portfolio item title</h3>

      <div className="portfolio_item-cta">
        <a href="https://github.com" className="btn">Github</a>
        <a
          href="https://dribbble.com/tags/website"
          target="_blank"
          className="btn btn-primary"
        >
          Live Demo</a
        >
      </div>
    </article>
    <article className="portfolio_item">
      <div className="portfolio_item-image">
        <img src="{IMG6}" alt="" />
      </div>
      <h3>This is a portfolio item title</h3>

      <div className="portfolio_item-cta">
        <a href="https://github.com" className="btn">Github</a>
        <a
          href="https://dribbble.com/tags/website"
          target="_blank"
          className="btn btn-primary"
        >
          Live Demo</a
        >
      </div>
    </article>
  </body>
</html>
